In [ ]:
import numpy as np

In [ ]:
np.linspace(-3,3)

In [ ]:
array = np.linspace(-3,3,num=100)
array * 10

In [ ]:
np.random.randint(50,high=101,size=100)

In [ ]:
np.random.randint(50,high=101,size=(5,5))

In [ ]:
content = np.random.randint(50,high=101,size=(50,5))

In [ ]:
import pandas as pd
pd.DataFrame(data=content,
             index=range(1,51),
             columns=['國文','英文','數學','地理','歷史'])

In [ ]:
import pandas as pd
df1 = pd.DataFrame(data=content,
             index=range(1,51),
             columns=['國文','英文','數學','地理','歷史'])

In [ ]:
df1['國文'] + df1['英文'] + df1['數學'] + df1['地理'] + df1['歷史']

In [50]:
import pandas as pd
df1 = pd.DataFrame(data=content,
             index=[f"第{i}號" for i in range(1,51)],
             columns=['國文','英文','數學','地理','歷史'])
df1

      國文   英文   數學   地理   歷史
第1號   80   74   63   94   94
第2號   98  100   97   54   59
第3號   94   86   57  100   54
第4號   70   72   86   99   70
第5號   60   58   95   64   61
第6號   71   90   87   69   54
第7號   83   85   85   86   69
第8號   54   72   95   93   97
第9號   66   69   81   51   56
第10號  89   98   94   95   87
第11號  52   66   89   63   53
第12號  63   51   58   51   98
第13號  93   61   51   60   51
第14號  82   87   77   58   70
第15號  85   56   91   58   59
第16號  64   88  100   64   79
第17號  70   68   87   91   72
第18號  81   79   74   91   67
第19號  99   53   95   86  100
第20號  68   70   94   62   73
第21號  56   69   67   92   76
第22號  63   56   77   62   55
第23號  79   56   57   56   93
第24號  53   88   97   86   98
第25號  89   81   74   74   82
第26號  95   69   87   87   81
第27號  68   96   72   50   55
第28號  93  100   71   56   97
第29號  97   90   82   67   66
第30號  95   55   90   88   81
第31號  86   92  100   85   64
第32號  74   63   80   67   85
第33號  52   62   91   71   58
第34號  91   79   89   74   76
第35號  89   66   65   62   76
第36號  61   56   85  100   68
第37號  91   95   97   59   75
第38號  57   77   97   58   57
第39號  78   70   97   98   99
第40號  71   75  100   63   87
第41號  88   51   77   89   52
第42號  79   90   61   65   92
第43號  97   56   69   95   95
第44號  95   90   80   67   70
第45號  94   65   65   80   97
第46號  80   76   95   67  100
第47號  99   73   81   82   72
第48號  76   75   54   57   53
第49號  63   70   75   87   65
第50號  70   66   78   87   53

In [51]:
df1.loc["第1號"]

國文    80
英文    74
數學    63
地理    94
歷史    94
Name: 第1號, dtype: int64

In [52]:
df1.loc["第1號",:]

國文    80
英文    74
數學    63
地理    94
歷史    94
Name: 第1號, dtype: int64

In [53]:
df1.loc[["第1號","第5號","第10號"]]

      國文  英文  數學  地理  歷史
第1號   80  74  63  94  94
第5號   60  58  95  64  61
第10號  89  98  94  95  87

In [54]:
df1.iloc[:5]

     國文   英文  數學   地理  歷史
第1號  80   74  63   94  94
第2號  98  100  97   54  59
第3號  94   86  57  100  54
第4號  70   72  86   99  70
第5號  60   58  95   64  61

In [55]:
df1.iloc[-5:]

      國文  英文  數學  地理   歷史
第46號  80  76  95  67  100
第47號  99  73  81  82   72
第48號  76  75  54  57   53
第49號  63  70  75  87   65
第50號  70  66  78  87   53

In [57]:
df1

      國文   英文   數學   地理   歷史
第1號   80   74   63   94   94
第2號   98  100   97   54   59
第3號   94   86   57  100   54
第4號   70   72   86   99   70
第5號   60   58   95   64   61
第6號   71   90   87   69   54
第7號   83   85   85   86   69
第8號   54   72   95   93   97
第9號   66   69   81   51   56
第10號  89   98   94   95   87
第11號  52   66   89   63   53
第12號  63   51   58   51   98
第13號  93   61   51   60   51
第14號  82   87   77   58   70
第15號  85   56   91   58   59
第16號  64   88  100   64   79
第17號  70   68   87   91   72
第18號  81   79   74   91   67
第19號  99   53   95   86  100
第20號  68   70   94   62   73
第21號  56   69   67   92   76
第22號  63   56   77   62   55
第23號  79   56   57   56   93
第24號  53   88   97   86   98
第25號  89   81   74   74   82
第26號  95   69   87   87   81
第27號  68   96   72   50   55
第28號  93  100   71   56   97
第29號  97   90   82   67   66
第30號  95   55   90   88   81
第31號  86   92  100   85   64
第32號  74   63   80   67   85
第33號  52   62   91   71   58
第34號  91   79   89   74   76
第35號  89   66   65   62   76
第36號  61   56   85  100   68
第37號  91   95   97   59   75
第38號  57   77   97   58   57
第39號  78   70   97   98   99
第40號  71   75  100   63   87
第41號  88   51   77   89   52
第42號  79   90   61   65   92
第43號  97   56   69   95   95
第44號  95   90   80   67   70
第45號  94   65   65   80   97
第46號  80   76   95   67  100
第47號  99   73   81   82   72
第48號  76   75   54   57   53
第49號  63   70   75   87   65
第50號  70   66   78   87   53

In [60]:
df1.loc['第10號':'第15號']

      國文  英文  數學  地理  歷史
第10號  89  98  94  95  87
第11號  52  66  89  63  53
第12號  63  51  58  51  98
第13號  93  61  51  60  51
第14號  82  87  77  58  70
第15號  85  56  91  58  59